* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(36, 36, 36);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    overflow-y: scroll;
}

.page {
    width: 70%;
    margin: 0 auto;
    padding: 20px 10px 50px 10px;
    background-color: rgb(90, 90, 90);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.section-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #222222;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#name {
    font-size: 3rem;
    font-weight: 700;
    display: block;
    padding-right: 0;
}
#subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 10px;
}

#navbar {
    position: sticky;
    top: 0;
    background: #111;
    padding: 10px 0;
    z-index: 1000;
    font-size: max(1.2vw, 19px);
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#navbar li {
    display: inline;
    cursor: pointer;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

#navbar a:hover,
#navbar li:hover {
    color: #00bcd4;
}


#header {
    text-align: center;
    padding: 60px 20px 40px;
    background: #222;
    color: white;
    border-bottom: 2px solid black;
}

#IntroSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    font-size: max(1.2vw, 18px);
}

#IntroSection img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#InteractiveOctaveContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: max(1.2vw, 18px);
    margin-top: 20px;
}

#InteractiveOctaveContainer div {
    width: 100%;
}

#InteractiveOctaveContainer img {
    width: 100%;
}

#octaveSlider {
    width: 100%;
    margin-top: 10px;
}

.slider-container {
    text-align: center;
    margin-top: 20px;
}

#geGif {
    float: inline-end;
    margin: 5px;
    width: 50%;
}

.title {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid rgb(36, 36, 36);
    margin-top: 0;
}

#octaveSlider {
    width: 100%;
    margin-top: 10px;
}

#footer {
    text-align: center;
    padding: 40px 20px;
    background: #111;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#footer a {
    color: #00bcd4;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}
